<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mysqlImp" class="com.liu.dao.UserDaoMysqlImp"/>
    <bean id="oracleImp" class="com.liu.dao.UserDaoOracleImp"/>
    
    <bean id="userServerImp" class="com.liu.server.UserServerImp">
        <property name="userDao" ref="mysqlImp"/>
    </bean>

</beans>